.vs/
*.user
*.suo
**/bin/
**/obj/
# Ignore all node_modules in any subfolder
**/node_modules/
# Ignore all build folders
**/build/
**/target/
.vscode/
.project
*.ser
.settings/
.classpath
bin/
build/

# Eclipse metadata
.metadata/
*.prefs
.project
.classpath
.settings/